<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>WifiJeep</title>
    </head>
    <script type="text/javascript">
        function doWork(buttonid){
            $.post("/postrequest", {"byte":buttonid}, function(){});
            event.preventDefault();
        }
    </script>
    <h1>Press to activate car</h1>
    <button id="forward" onclick="doWork(this.id)">Forward</button>
    <button id="backward" onclick="doWork(this.id)">Back</button>
    <button id="left" onclick="doWork(this.id)">Left</button>
    <button id="right" onclick="doWork(this.id)">Right</button>
    <button id="straight" onclick="doWork(this.id)">Straight</button>
    <button id="coast" onclick="doWork(this.id)">Coast</button>
</html>