<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>WifiJeep</title>
    </head>
    <script type="text/javascript">
        var jeepJson = [{
            "straight":{"byte":0},
            "coast":{"byte":1},
            "forward":{"byte":2},
            "backward":{"byte":3},
            "right":{"byte":4},
            "left":{"byte":5}
        }]

        function doWork(buttonid){
            $.post("postrequest", jeepJson[0][buttonid], function(){});
            event.preventDefault();
        }
    </script>
    <h1>Press to activate car</h1>
    <button id="forward" onclick="doWork(self.id)">Forward</button>
    <button id="backward" onclick="doWork(self.id)">Back</button>
    <button id="left" onclick="doWork(self.id)">Left</button>
    <button id="right" onclick="doWork(self.id)">Right</button>
    <button id="straight" onclick="doWork(self.id)">Straight</button>
    <button id="coast" onclick="doWork(self.id)">Coast</button>
</html>