<!DOCTYPE html>
<html>
  <head>
    <title>WifiJeep Controller</title>
  </head>

  <body>
    

    <form  action="/" method="POST">
        <p><input type="submit" name="submit" value="Forward"> </p>
        <p><input type="submit" name="submit" value="Backward"> </p>
        <p><input type="submit" name="submit" value="Coast"> </p>
        <p><input type="submit" name="submit" value="Left"> </p>
        <p><input type="submit" name="submit" value="Right"> </p>
        <p><input type="submit" name="submit" value="Straight"> </p>
    </form>

  </body>
</html>