<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>WifiJeep</title>
    </head>
    <script type="text/javascript">
        var isKeyDown = false;
        function doWork(buttonid, event){
            console.log(buttonid);
            $.post("/postrequest", {"byte":buttonid});

        } 
        window.addEventListener('keydown', function(event){
            if (!isKeyDown) { // check if time has passed
                //console.log(toString(event.keyCode));
                if (event.keyCode == 38) { // forward
                    doWork("forward", event);
                    isKeyDown = true;
                } else if (event.keyCode == 40) { // backward
                    doWork("backward", event);
                    isKeyDown = true;
                }

                if (event.keyCode == 37) { // left
                    doWork("left", event);
                    isKeyDown = true;
                } else if (event.keyCode == 39) { // right
                    doWork("right", event);
                    isKeyDown = true;
                }
            }
        });

        window.addEventListener('keyup', function(event){
            if (event.keyCode == 38 || event.keyCode == 40 ){
                doWork("coast", event);
                isKeyDown = false;
            }
            if (event.keyCode == 37 || event.keyCode == 39){
                doWork("straight", event);
                isKeyDown = false;
            }
        });
        console.log("Script Loaded.");
    </script>
    <h1>Press to activate car</h1>
    <iframe src="http://192.168.1.18:8081/" width="320" height="240" scrolling="no" frameborder=no marginheight="0px"</iframe>
    <button id="forward" onclick="doWork(this.id)">Forward</button>
    <button id="backward" onclick="doWork(this.id)">Back</button>
    <button id="left" onclick="doWork(this.id)">Left</button>
    <button id="right" onclick="doWork(this.id)">Right</button>
    <button id="straight" onclick="doWork(this.id)">Straight</button>
    <button id="coast" onclick="doWork(this.id)">Coast</button>
</html>